##############
# Application Custom Values
#############
dev_allowed_destinations: &dev_allowed_destinations
  - namespace: labs-dev
    server: https://kubernetes.default.svc
test_allowed_destinations: &test_allowed_destinations
  - namespace: labs-test
    server: https://kubernetes.default.svc
helm_repository: &helm_repo "http://sonatype-nexus-service.labs-ci-cd.svc.cluster.local:8081/repository/helm-charts/"
##############
# Argo Ignore Differences
#############
ignore_differences: &ignore_differences
  ignoreDifferences:
    - group: apps.openshift.io
      kind: DeploymentConfig
      jsonPointers:
        - /spec/replicas
        - /spec/template/spec/containers/0/image
        - /spec/triggers/0/imageChangeParams/lastTriggeredImage
        - /spec/triggers/1/imageChangeParams/lastTriggeredImage
    - group: apps
      kind: Deployment
      jsonPointers:
        - /spec/replicas
        - /spec/template/spec/containers/0/image
        - /spec/template/spec/containers/1/image
##############
# Argo App of Apps declaration
#############
argocd_projects:
  - enabled: true
    name: pet-battle-dev
    destinations: *dev_allowed_destinations
    cluster_resource_white_list:
      - group: 'rbac.authorization.k8s.io'
        kind: 'ClusterRole'
      - group: 'rbac.authorization.k8s.io'
        kind: 'ClusterRoleBinding'
  - enabled: true
    name: pet-battle-test
    destinations: *test_allowed_destinations
    cluster_resource_white_list:
      - group: 'rbac.authorization.k8s.io'
        kind: 'ClusterRole'
      - group: 'rbac.authorization.k8s.io'
        kind: 'ClusterRoleBinding'
applications:
  pet_battle_api_dev:
    name: pet-battle-api-dev
    enabled: false
    source: https://github.com/petbattle/pet-battle-api.git
    source_path: chart
    sync_policy_automated: true
    destination: labs-dev
    source_ref: master
    values:
      fullnameOverride: pet-battle-api
      image_repository: image-registry.openshift-image-registry.svc:5000
      image_name: pet-battle-api
      image_version: master
      istag:
        enabled: false
      deploymentConfig: false
    ignore_differences: *ignore_differences
    project:
      name: pet-battle-dev
      enabled: true
  pet_battle_api_test:
    name: pet-battle-api-test
    enabled: true
    source: *helm_repo
    chart_name: pet-battle-api
    sync_policy_automated: true
    destination: labs-test
    source_ref: 1.0.14
    values:
      fullnameOverride: pet-battle-api
      image_repository: image-registry.openshift-image-registry.svc:5000
      image_name: pet-battle-api
      image_version: "1.0.1"
      istag:
        enabled: false
      deploymentConfig: false
    ignore_differences: *ignore_differences
    project:
      name: pet-battle-test
      enabled: true
  pet_battle_dev:
    name: pet-battle-dev
    enabled: false
    source: https://github.com/petbattle/pet-battle.git
    source_path: chart
    sync_policy_automated: true
    destination: labs-dev
    source_ref: master
    values:
      app_tag: master
      fullnameOverride: pet-battle
      image_repository: image-registry.openshift-image-registry.svc:5000
      image_name: pet-battle
      image_namespace: labs-dev
      config_map: "'http://pet-battle-api-labs-dev.apps.hivec.sandbox1862.opentlc.com'"
    project:
      name: pet-battle-dev
      enabled: true
  pet_battle_test:
    name: pet-battle-test
    enabled: true
    source: *helm_repo
    chart_name: pet-battle
    sync_policy_automated: true
    destination: labs-test
    source_ref: 1.0.6
    values:
      fullnameOverride: pet-battle
      image_repository: quay.io
      image_name: pet-battle
      image_namespace: petbattle
      image_version: "1.3.1"
      config_map: '{ "catsUrl": "https://pet-battle-api-labs-test.apps.hivec.sandbox1405.opentlc.com", "tournamentsUrl": "https://pet-battle-tournament-labs-test.apps.hivec.sandbox1405.opentlc.com", "matomoUrl": "https://matomo-labs-ci-cd.apps.hivec.sandbox1405.opentlc.com/", "keycloak": { "url": "https://keycloak-labs-test.apps.hivec.sandbox1405.opentlc.com/auth/", "realm": "pbrealm", "clientId": "pbclient", "redirectUri": "https://pet-battle-labs-test.apps.hivec.sandbox1405.opentlc.com/*", "enableLogging": true } }'
    project:
      name: pet-battle-test
      enabled: true
  pet_battle_tournament_dev:
    name: pet-battle-tournament-dev
    enabled: false
    source: https://github.com/petbattle/tournamentservice.git
    source_path: chart
    sync_policy_automated: true
    destination: labs-dev
    source_ref: master
    values:
      fullnameOverride: pet-battle-tournament
      image_repository: image-registry.openshift-image-registry.svc:5000
      image_name: pet-battle-tournament
      image_namespace: labs-dev
      image_version: master
      istag:
        enabled: false
    ignore_differences: *ignore_differences
    project:
      name: pet-battle-dev
      enabled: true
  pet_battle_tournament_test:
    name: pet-battle-tournament-test
    enabled: true
    source: *helm_repo
    chart_name: pet-battle-tournament
    sync_policy_automated: true
    destination: labs-test
    source_ref: 1.0.35
    values:
      fullnameOverride: pet-battle-tournament
      image_repository: image-registry.openshift-image-registry.svc:5000
      image_name: pet-battle
      image_namespace: labs-test
      image_version: "1.0.1"
      istag:
        enabled: false
      pet-battle-infra:
        app_domain: apps.hivec.sandbox1405.opentlc.com
        ignoreHelmHooks: true
    ignore_differences: *ignore_differences
    project:
      name: pet-battle-test
      enabled: true
